.pr {
    cursor: pointer;
    position: relative;
    left: 80%;
    color: #333;
    font-family: 'Open Sans';
    font-size: 19px;
}

.SO {
    font-family: 'Open Sans';
    font-size: 19px;
    cursor: pointer;
    position: relative;
    left: 82%;
    color: #333;
}

.toolbar {
    background: #f3f3f3;
}

form {
    line-height: 1.42857143;
    color: #555;
    /* background-color: #fff;
    background-image: none; */
    border: 1px solid #ccc;
    padding: 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input {
    position: relative;
    width: 470px;
    margin: 0 auto;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 50px;
    top: 70px;
    left: 30%;
    font-size: 16.5px;
    font-family: inherit;
    line-height: 1.42857143;
}

.text {
    background-image: url('/assets/images/bg-barcode-lookup.webp') !important;
    background-repeat: repeat-x;
    /* background: rgb(192, 125, 125) !important; */
}

.searchBtn {
    cursor: pointer;
    font-family: 'Open Sans';
    position: relative;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 56px;
    left: 65.4%;
    top: 2px;
    font-size: 19px;
    width: 150px;
    background-image: linear-gradient(to bottom, #d9534f 0, #cf2e2a 0);
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.or {
    left: 78%;
    top: -40px;
    position: relative;
    font-family: 'Open Sans';
    font-size: 19px;
    color: rgb(255, 255, 255);
}

.scanBtn {
    cursor: pointer;
    font-family: 'Open Sans';
    position: relative;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 56px;
    left: 76.5%;
    top: -20px;
    font-size: 19px;
    width: 150px;
    background-image: linear-gradient(to bottom, #d9534f 0, #cf2e2a 0);
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
