.bienV {
    font-family: sans-serif;
    font-size: 16px;
}

.score {
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    left: 16%;
}

.ben {
    font-family: sans-serif;
    font-size: 16px;
    /* position: relative; */
}

.merci {
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    left: 20%;
}

.close {
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    height: 67%;
    left: 25%;
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 20px;
    color: rgb(39, 32, 32) !important;
    top: -15%;
}

mat-dialog-content {
    overflow: hidden;
}