<mat-dialog-content>

    <p class="bienV"> Cher/ère consommateur/rice {{data.name}}..</p>

    <p class="score"> La valeur de ce coupon est {{data.score}} Dinars.</p>
    <p class="ben">Pour vous vous bénéficiez de ce coupons, veuillez l'imprimer et le présenter à n'importe quel magazin à condition que vous consommez toujours TOUNSI !
    </p>
    <p class="merci">Merci pour votre fidélité !</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button close" (click)="close()">Fermer</button>
</mat-dialog-actions>